/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}


/*
..................................................
Grid
..................................................
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif;
	color: #333;
}

.container {
	width: 980px;
	margin: 0 auto;
}

.container-main {
	width: 850px;
	margin: 0 auto
}



.row{
	min-width: 980px;
	padding: 30px 0 10px 0;
}

.row-header {
	background: #3B5998;
	padding-top: 15px;
}

.row-main{
	background: #EDF0F5;
}

.row-alt {
	background: #3B5998;
}

header {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	color: #fff;
}

header p {
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 4px;
}

header form {
	display: flex;
	flex-flow: row;
}

header input[type="text"],
header input[type="password"] {
	flex: 3;
	margin-right: 10px;
}

header button {
	flex: 1;
	margin-top: 16px;
	color: #fff;
	background: #3B5998;
	border: 1px solid #29487d;
	border-radius: 2px;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 6px;
}

header button:hover {
	background-color: #365899;
	cursor: pointer;
}

header input[type="text"],
header input[type="password"],
header button {
	height: 25px;
	border: 1px solid #1d2a5b;
}

header div.recover {	
	padding-top: 6px;
}

header a {
	color: #9cb4d8;
	text-decoration: none;
	font-size: 12px;
}

header a:hover {
	text-decoration: underline;
}

.info input {
	margin-bottom: 10px;
	font-size: 18px;
	padding: 8px 10px;
	border-radius: 5px;
	border: 1px solid #bdc7d8;
	width: 100%;
}

.name-wrapper {
	display: flex;
	flex-flow: row;
}

.info input#fname {
	margin-right: 10px;
	flex: 1
}

.info input#lname {
	flex: 1;
}

#logo {
	font-size: 40px;
	font-family: Helvetica, Arial,sans-serif;
	font-weight: bold;
	line-height: 19px;
	margin-top: 10px;
}

main {
	display: flex;
	flex-flow: row;
	font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif;
	color: #333;
}

section,
aside {
	flex: 1;
}

section {
	margin-right: 16px;
}

aside {
	/*text-align: center;*/
}

main h2 {	
	font-size: 28px;
	font-weight: bold;	
	margin-top: 30px;
	line-height: 36px;
	padding: 42px 0 24px;
	display: inline-block;
	width: 400px;
}

section p {
	margin-top: 20px;
	padding-bottom: 10px;
	font-family: inherit;
	color: #666;
}

main span {
	font-weight: bold;
	font-size: 17px;
}

aside h1 {
	font-size: 36px;
	line-height: 43px;
	color: #333;
	font-weight: bold;
	font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
	letter-spacing: normal;
	margin-bottom: 5px;
}

aside p {
	font-size: 19px;
	line-height: 126%;
	margin-bottom: 20px;
}

.birthday {
	margin-top: 10px;
}

select {
	font-size: 13px;
	height: 30px;
	padding: 5px;
}

.date {
	margin-bottom: 20px;
}

.gender {
	font-size: 18px;
	font-weight: normal;
	padding: 0 20px 0 3px;
	margin-bottom: 23px;
}

.terms {
	font-size: 11px;
	width: 316px;
	color: #777;
}

#signUp-btn {
	font-size: 22px;
	width: 170px;
	color: #fff;
	border-radius: 7px;
	border-width: 1px;
	border-color: #3b6e22 #3b6e22 #2c5115;
	padding: 5px;
	cursor: pointer;
	background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    margin-bottom: 10px;
}

#signUp-btn:hover {
	background: linear-gradient(#79bc64, #578843);
}

.extra a {
	color: #365899;
    cursor: pointer;
    text-decoration: none;
}

.extra {
	padding-top: 15px;
	color: #666;
	border-top: 1px solid #dddfe3;
	font-size: 13px;
	margin-top: 10px;
	font-weight: bold;
}

footer ul {
	display: flex;
	flex-flow: row;
	list-style-type: none;
	margin-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dddfe2
}

footer li {
	margin-right: 20px;
	font-size: 12px;
}

footer li:hover {
	text-decoration: underline;
}

footer a {
	text-decoration: none;
}

footer a.active {
	color: #737373;
}

footer span {
	color: #737373;
	font-size: 12px;
}

footer div {
	margin: 10px 0 20px 0;
}

.about-nav-wrapper {
	display: flex;
}

.about-nav {
	padding: 10px;
	display: flex;
	flex: 1;
}

.nav-side {
	padding: 10px;
	display: flex;
	flex: 1;
}

.fa-facebook-official {
	background: #3B5998;
	color: #fff;
}

.about-nav input[type="search"]{
	height: 30px;
	width: 100%;
}

.nav-logo {
	flex: 1;
}

.nav-search {
	flex: 11;
}

.fa-user {
	color: #FEFEFF;
	margin-right: 10px;
}

.nav-side a {
	text-decoration: none;
	color: #FEFEFF;
}

.nav-side ul {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	width: 100%;
	padding-top: 10px;
}

.nav-side ul li {
	
}

.cover-photo {
	width: 100%;
	height: 313px;
	margin: 0 auto;
	background: url(../images/cover.png)no-repeat center center fixed;
	background-size: cover;
}

.user-icon {
	position: relative;
	top: 120px;
    left: 20px;
}

.user-icon img{
	width: 168px;
	height: 168px;
}

.nav-2 ul {
	display: flex;
	flex-flow: row;
	justify-content: center;
	list-style-type: none;
	width: 100%;
	border: 1px solid #E9EAED;
}

.nav-2 ul a {
	text-decoration: none;
	color: #6B83B4;
	background: #fff;

}

.nav-2 ul li {
	padding: 20px;
	border-right: 1px solid #E9EAED;

}

.nav-2 ul li:first-of-type {
	border-left: 1px solid #E9EAED;
}